body {
    background-color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;     
}

/* logo style start */
#navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
}

#navbar .colum{
    width: 120px;
    padding: 8px 0 8px 0 ;
    margin-bottom: 5px;
    background-color: rgb(172, 136, 255);
    border-radius: 10px;
    text-align: center;
    

}

#navbar a {
    text-decoration: none;
    
}



/* Start Form */

#form {
    width: auto;
    max-width:98%;
    margin: 0 10px 0 10px; /* Increase margin to account for the navbar's fixed height */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

/* Start For login Signup Form  */

#signup_form, #login_form, #track_form {
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 15px;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: lightcyan;
    text-align: left;
    border-radius: 10px;
}

#signup_form h2, #login_form h2, #track_form h2 {
    margin-top: 10px;
    text-align: center;
}

#signup_form #input , #login_form #input, #track_form #input {
    border: solid 1.5px;
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#signup_form #btn , #login_form #btn, #track_form #btn {
    text-align: center;
    width: 150px;
    background-color: lightblue;
    padding: 2px;
    border: solid darkviolet 3px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 20px;
}

/* End for login Signup Form */


/* START FOOTER STLYE hare */

#footer {
    background-color: rgb(186, 185, 255);
    margin: 5px 0 20px 0;
    padding: 5px 5px 0 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    
    
}

#logo {
    margin-top: 10px;
    border-radius: 50%;
    width: 100px;
    
}

#footer .colum {
    min-width: 200px;
    padding-left: 20px;
    margin-left: 0px;
    text-align: left;
}

#footer h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    
}


#footer li {
margin: 5px;
font-size: 15px;
}

/* END FOOTER Style here */